<h1>New User</h1>

<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Opps, something went really bad</p>
  </div>
<% end %>


<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
<div class="form-group">
  <%= text_input f, :name, placeholder: "Name", class: "form-control" %>
  <%= error_tag f, :name %>
</div>
<div class="form-group">
  <%= text_input f, :username, placeholder: "Username", class: "form-control" %>
  <%= error_tag f, :username %>
</div>
<div class="form-group">
  <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
  <%= error_tag f, :password %>
</div>
<%= submit "Create User", class: "btn btn-primary" %>
<% end %>
